doctype 5
html(ng-app='gear-browser')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js')
        script(src='//code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js')
    body
        .menu(ng-controller="menuCtrl")
            a.top-link(href='#', ng-click='logout()') Logout
            a.top-link(href='/') Main Site
        span(id='header')
            img(height='160', width='289', src='/images/gearlogo.jpg')
        .filebrowser(ng-controller='FilesCtrl')
            h3 File Browser
            .files
                ul.nav.nav-pills
                    li
                        ol.breadcrumb
                            li(ng-repeat="segment in segments", ng-class='$last ? "active" : ""')
                                a(href="#", ng-click="navigate(segment.path)") {{ segment.name }}

                    // Folder level actions
                    li.pull-right.dropdown
                        a.dropdown-toggle.btn.btn-default(data-toggle="dropdown", href="#") Folder Actions
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='#modal-permissions', role='button', data-toggle='modal', ng-click='loadPermissions()') Permissions


                // Table
                table.table.table-hover
                    thead
                        tr
                            th
                            th File Name
                            th File Type
                            th File Size (bytes)
                            th Actions
                    tbody
                        tr(ng-repeat='file in files')
                            td
                                span(ng-class='file.isDirectory ? "glyphicon glyphicon-folder-open": "glyphicon glyphicon-file"')
                            td
                                a.btn(href="#", ng-click='navigate((location.path === "/" ? "" : location.path) + "/" + file.name)', ng-class='!file.isDirectory ? "disabled": ""') {{ file.name }}
                            td {{ file.isDirectory ? 'Directory' : file.mime }}
                            td {{ file.size }}
                            td
                                .btn-group()
                                    button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", ng-show="!file.isDirectory") Actions
                                        span.caret
                                    ul.dropdown-menu(role="menu", ng-show="!file.isDirectory")
                                        li

                                            // files
                                            a(ng-href="{{file.href}}", ng-show="!file.isDirectory") Download
                                            a(ng-show="!file.isDirectory") Upload New Version
                                            a(ng-show="!file.isDirectory") Move
            #modal-permissions.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabelPermissions', aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                            h4#myModalLabelPermissions Edit Permissions for {{ location.path }}
                        .modal-body
                            table.table.table-hover
                                thead
                                    tr
                                        th username
                                        th Read
                                        th Write
                                tbody
                                    tr(ng-repeat='user in users')
                                        td
                                            {{ user }}
                                        td
                                            input(type="checkbox", ng-model="permissions[user].read", ng-click="updatePermissions(permissions, user)")
                                        td
                                            input(type="checkbox", ng-model="permissions[user].write", ng-click="updatePermissions(permissions, user)")
                        .modal-footer
                            button.btn.btn-default(type='button', data-dismiss='modal', aria-hidden='true') Done

        script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script
            _.mixin(_.str.exports());
            _.mixin({
                combinations: function(arr, accum) {
                    if(!accum) {
                        accum = [arr[0]];
                        return _.combinations(_(arr).rest(1), accum);
                    }
                    if(_(arr).isEmpty()) return accum;
                    accum.push( _.union(_(accum).last(1)[0], arr[0]) );
                    return _.combinations(_(arr).rest(1), accum);
                }
            });
            var menuCtrl = function($scope, $cookies) {
                $scope.logout = function() {
                    $cookies.authtoken = 'null';
                    window.location.reload();
                };
            };
            var myApp = angular.module('gear-browser', ['ngCookies']);
            myApp.controller('FilesCtrl', ['$scope', '$http', '$q', function($scope, $http, $q) {
                $scope.location = { path: '/' };
                $scope.segments = [ { name: 'Home', path: '/' } ];
                $scope.navigate = function(newPath) {
                    $scope.location.path = newPath;
                    $scope.segments = [ { name: 'Home', path: '/' } ];
                    $scope.segments = _.union($scope.segments, _($scope.location.path).chain().words('/').combinations().map(function(arr) {
                        return {
                            path: _(arr).isArray() ? '/' + arr.join('/') : '/' + arr,
                            name: _(arr).isArray() ? _(arr).last(1)[0] : arr
                        }
                    }).value());
                    $scope.fetchFiles();
                };
                $scope.fetchFiles = function() {
                    $http({method: 'GET', url: '/@api/files/list', params: { path: encodeURIComponent($scope.location.path) }}).success(function(data) {
                        $scope.files = data;
                    }).error(function(data) {
                        //TODO
                    });
                }
                $scope.fetchFiles();

                // Permissions
                $scope.loadPermissions = function() {
                    $scope.permissions = {};
                    $http({method: 'GET', url: '/@api/files/permissions', params: { path: encodeURIComponent($scope.location.path) } }).then(function(res) {
                        $scope.users = res.data.users;
                        $scope.permissions = res.data.permissions;
                    });
                };
                $scope.updatePermissions = function(permissions, username) {
                    $http({ method: 'POST', url: '/@api/files/permissions', data: permissions[username], params: { path: encodeURIComponent($scope.location.path), user: username }}).error(function(err) {
                        //TODO
                    });
                };
            }]);