extends layout

block content
    span(id='header')
        img(height='160', width='289', src='/images/gearlogo.jpg')
    span.divider
    .container-fluid
        .row-fluid
            #sidenav.span2
                    ul.navlist
                        li.navli
                            a.btn.btn-link(href='/#/about') About
                        li.navli
                            a.btn.btn-link(href='/#/methodology') Methodology
                        li.navli
                            a.btn.btn-link(href='/#/services') Services
                        li.navli
                            a.btn.btn-link(href='/#/clients') Clients
                        li.navli
                            a.btn.btn-link(href='/#/tools') Tools
                        li.navli
                            a.btn.btn-link(href='/#/bios') Bios
                        li.navli
                            a.btn.btn-link(href='/#/leed') LEED
            <div class="body span10" ng-view></div>

block footer
    span.divider
    span(id='footer')
        #copyright ©2013 Gear Management Group