extends layout

block login
    if context.currentUser.anonymous
        a#login-link.top-link(href='#modal-login', role='button', data-toggle='modal') Login
        #modal-login.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog(ng-keypress="keypress($event, login.username, login.password)")
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                        h4#myModalLabel Please sign in
                    .modal-body
                        form.form-signin(role='form')
                            .form-group
                                label(for='username') Username
                                input.form-control#username(type='text', placeholder='Email address', ng-model="login.username")
                            .form-group
                                label(for='username') Password
                                input.form-control#password(type='password', placeholder='Password', ng-model="login.password")
                        .alert.alert-danger(ng-show='loginfailed')
                            p Login failed!
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal', aria-hidden='true') Cancel
                        button.btn.btn-primary(ng-click="login(login.username, login.password)") Login
    else
        a.top-link(href="#", ng-click="logout()") Logout
        a.top-link(href="/filebrowser") My Vault
        if context.currentUser.admin
            a.top-link(href="/users") Manage Users
block content
    span(id='header')
        img(height='160', width='289', src='/images/gearlogo.jpg')
    span.divider
    .container
        .row
            span#sidenav.col-md-2
                    ul.navlist
                        li.navli
                            a.btn.btn-link(href='/#/about') About
                        li.navli
                            a.btn.btn-link(href='/#/methodology') Methodology
                        li.navli
                            a.btn.btn-link(href='/#/services') Services
                        li.navli
                            a.btn.btn-link(href='/#/clients') Clients
                        li.navli
                            a.btn.btn-link(href='/#/tools') Tools
                        li.navli
                            a.btn.btn-link(href='/#/bios') Bios
                        li.navli
                            a.btn.btn-link(href='/#/leed') LEED
            <div class="body col-md-10" ng-view></div>

block footer
    span.divider
    span(id='footer')
        #copyright ©2013 Gear Management Group