doctype 5
html(ng-app='gear')
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        #content-wrapper(ng-controller="CommonCtrl")
            block login
            block content
        #footer-wrapper
            block footer
            script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
            script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js')
            script(src='//code.angularjs.org/1.0.0rc10/angular-cookies-1.0.0rc10.js')
            script(src='/javascripts/bootstrap.min.js')
            script
                angular.module('gear', ['ngCookies']).
                  config(['$routeProvider', function($routeProvider) {
                  $routeProvider.
                      when('/about', {templateUrl: 'partials/about.html' }).
                      when('/methodology', {templateUrl: 'partials/methodology.html' }).
                      when('/services', {templateUrl: 'partials/services.html' }).
                      when('/clients', {templateUrl: 'partials/clients.html' }).
                      when('/tools', {templateUrl: 'partials/tools.html' }).
                      when('/bios', {templateUrl: 'partials/bios.html' }).
                      when('/leed', {templateUrl: 'partials/leed.html' }).
                      otherwise({redirectTo: '/about'});
                }]);
                function CommonCtrl($scope, $cookies, $http) {
                    $scope.loginfailed = false;
                    $scope.login = function(username, password) {
                        $scope.loginfailed = false;
                        $http({method: 'GET', url: '/@api/users/login', headers: { authorization: 'Basic ' + btoa(username + ':' + password) }}).success(function(authtoken) {
                            $scope.loginfailed = false;
                            $cookies.authtoken = authtoken;
                            window.location.reload();
                        }).error(function(data) {
                            $scope.loginfailed = true;
                        });
                    };
                    $scope.logout = function() {
                        $cookies.authtoken = 'null';
                        window.location.reload();
                    };
                    $scope.keypress = function(event, username, password) {
                        if(event.keyCode === 13) {
                            $scope.login(username, password);
                        }
                    };
                };