<div>
    <h1>Services</h1>
    <p>The following is an outline of GMG's scope of services. &nbsp;Services can be  customized to accommodate the specific needs of each client:</p>
        <ul>
            <li>Construction Project Management
                <ul>
                    <li>Contractor selection</li>
                    <li>Bidding</li>
                    <li>Quality control</li>
                    <li>Budget and Schedule Management</li>
                    <li>Program strategy</li>
                </ul>
            </li>
            <li>Design Services
                <ul>
                    <li>Store fixture design and development</li>
                    <li>Store planning</li>
                    <li>Store design</li>
                </ul>
            </li>
            <li>Team Development
                <ul>
                    <li>Training</li>
                    <li>Candidate identification and hiring</li>
                </ul>
            </li>
            <li>Process Development
                <ul>
                    <li>Bench Marking</li>
                    <li>Streamlining and improvements</li>
                </ul>
            </li>
            <li>Procurement
                <ul>
                    <li>Sourcing</li>
                    <li>Contract implementation and management</li>
                    <li>Quality Control</li>
                    <li>Purchasing</li>
                </ul>
            </li>
        </ul>
</div>